{% extends 'plantilla.html'%}

{%block body%}

<section class="bg-light">
    <div class="container py-5 bg-light">
        <div class="row bg-light">
            {%for turno in turnos%}
            <div class="col-3 mb-3 shadow rounded bg-white">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{turno.id}}</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">Motivo de cita</h6>
                        <p class="card-text">{{turno.motivo}} {{turno.veces}}</p>
                        <p class="card-text"><b>Paciente:</b> {{turno.paciente}}</p>
                        <a href="/turnos/asiste/{{turno.id}}" class="card-link text-success"><i class="fa-solid fa-check-circle"></i> Asistió</a>
                        <a href="/turnos/noAsiste/{{turno.id}}" class="card-link text-danger"><i class="fa-solid fa-xmark-circle"></i> No asistió</a>
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
</section>

{%endblock%}